.main{
    width: 610px;
    height: 475px;
    margin: 30px auto;
    border: 1px solid red;
    position: relative;
    
    
}
.formhead{
    margin-top: -18px;
}
.main h3{
    text-align: center;
    background-image: linear-gradient(to right, rgb(240, 124, 15) 10%, red);
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    
   
}
.form{
    background-color: bisque;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    font-size: 17px;
}
.formdiv input{
   width: 350px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.199);
   border-radius: 5px;
}
.formdiv{
    position: absolute;
    background-color: white;
    padding: 15px;
    color:rgba(0, 0, 0, 0.616);
    
 
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.buttonn{
    padding: 12px 50px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-style: none;
    border-radius: 5px;
    background-color: rgb(238, 145, 59);
    font-size: 15px;
    font-weight: 550;
    color: white;
}
.account{
    margin-top: 20px;
    font-size: 14px;
}
.login{
    
    font-weight: 600;
}